.left-side{
    background: #001030;
    color: white;
    height: 75vh;
}

.left-top{
    padding: 20px;
}

.left-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-nav .logo{
max-width: 140px;
}

.left-nav .menu img{
    max-height: 20px;
    opacity: 0.6;
    cursor: pointer;
}

.left-search {
    background-color: #002670;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    margin-top: 20px;
}

.left-search img{
    width: 16px;
}

.left-search input{
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 11px;
}

.left-search input::placeholder{
    color: white;
}

.left-list{
    display: flex;
    flex-direction: column;
    height: 70%;
    overflow-y: scroll;
}

.friends img{
    width: 35px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.friends{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    font-size: 13px;
    cursor: pointer;
}

.friends div{
    display: flex;
    flex-direction: column;
}

.friends span{
    color: #9f9f9f;
    font-size: 11px;
}

.friends:hover{
    background-color: #077eff;
}

.friends:hover span{
    color: white;
}

.delt{
    color: red;
    cursor: pointer;
    margin-left: 40px;
}


.left-nav .menu{
    position: relative;
    padding: 10px 0px;
}


.menu .sub-menu{
    background-color: white;
    color: black;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    top: 100%;
    right: 0;
    width: 130px;
    display: none;
}

.sub-menu hr{
    border: none;
    height: 1px;
    background: #a4a4a4;
    margin: 8px 0px;
}

.sub-menu p{
    cursor: pointer;
    font-size: 14px;
}

.menu:hover .sub-menu{
    display: block;
}

.friends.border img{
   border: 3px solid #07fff3;
}

.friends.border div span{
    color: #07fff3;
}

@media (max-width:900px) {
    .left-side{
        width: 100%;
    }
}